doctype html
html
  head
    title Tyler's Paypal Learnin' (Node-Jade-Braintree-BloodSweatTears)
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
  body
    block content
